.gallery {
    margin: 0 15%;
}

 .gallery ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 2em 0;
  list-style-type: none;
}

 .gallery li {
  float: left;
  width: 33.3%;
  padding-top: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  border: 20px solid #FFF;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery li .bind {
  display: block;
  width: 100%;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.bind:hover img{
    opacity: .8;
    transition: opacity .25s ease-in;   
}


#aspect li .bind {
  background-color: #FFF;
  position: relative;
  height: 0;
  padding-top: 100%;
}

#aspect img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:rgba(0,0,0,.95);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 3%;
  width: 100%;
  max-width: 1000px;
}

/* The Close Button */
.close {
  color: #FFF;
  position: absolute;
  top: 10px;
  right: 25px;
}


.close:hover, .close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  opacity: 0.0;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  padding: right

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: 1;
}

.caption-container {
  text-align: left;
  background-color:rgba(0,0,0,.95);
  padding: 2px 16px;
  color: #FFF;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* ----------------------------- Tablet ---------------------------------*/
@media screen and (max-width: 1020px) {
    .gallery li {
        width: 49%;
    }
}

/* ----------------------------- Phone ---------------------------------*/
@media screen and (max-width: 480px) {
    .gallery li {
        width: 98.4%;
    }
}