body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.nav-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

.navigation {
  position: relative;
  top: 0;
  margin: 0;
  width: 100%;
  height: 95px;
  line-height: 95px;
  z-index: 0;
  /* Bootstrap replace */
  padding-left: 0;
  list-style: none;
}

.navigation #logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation #logo a {
  color: #000;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  padding: .345em 0 0 0;
  margin: 0;
}

.navigation ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  line-height: 1.5;
}

.navigation ul li>a {
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: .05em;
}

.navigation ul li a {
  font-size: 16px;
  padding: 30px 10px;
  color: #cccccc;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation ul li a:hover, .navigation ul li a:focus, .navigation ul li a:active {
  color: #000;
}

.navigation ul li.active>a {
  color: #000 !important;
}

#mobile-menu {
  visibility: hidden;
  position: absolute;
  left: 88%;
  padding: 6px;
  max-width: none;
  max-height: none;
}

#nav-close {
  visibility: hidden;
  position: absolute;
}

/* -- Bootstrap replace -- */

.col-4 {
  width: 33.33333%;
  float: left;
}

.col-8 {
  width: 66.66667%;
  text-align: right;
  float: left;
}

/* ----------------------------- Mobile Nav for Tablet and Below ---------------------------------*/

@media screen and (max-width: 1200px) {
  .nav-container {
    max-width: 900px;
  }
}

@media screen and (max-width: 1020px) {
  #mobile-menu {
    visibility: visible;
    margin-top: calc((55px - 36px)/2);
    margin-bottom: calc((55px - 36px)/2);
  }
  .navigation {
    z-index: 5;
    height: 55px;
    line-height: 55px;
  }
  
  .navigation #logo {
    margin-left: 10%;
  }
  #nav-close {
    visibility: visible;
    font-size: 30px;
    right: 0px;
    top: 0px
  }
  .sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 55px;
  }
  .sidebar a {
    padding: 5px 10px 5px 200px;
    font-size: 25px;
    color: #919191;
    display: block;
    transition: 0.3s;
    text-align: right;
  }
  .navigation ul li a:hover, .navigation ul li a:focus, .navigation ul li a:active {
    color: #FFF;
  }
  #nav-close:hover {
    color: #FFF;
  }
  .navigation ul li.active>a {
    color: #FFF !important;
  }
  .navigation ul li a {
    color: #919191;
  }
}